<h1 align="center">User Management</h1>
<table border="1" align="center">
    <tr>
        <td align="center">Id</td>
        <td align="center">FirstName</td>
        <td align="center">LastName</td>
        <td align="center">Email </td>
        <td align="center">Password</td>
    </tr>

    <tr *ngFor="let user of users">

        <td  align="center">{{user.id}}</td>
        <td  align="center">{{user.firstName}}</td>
        <td  align="center">{{user.lastName}}</td>
        <td  align="center">{{user.email}}</td>
        <td  align="center">{{user.password}}</td>
        
        <td align="center">{{user.id}}</td>
        <td align="center">{{user.firstName}}</td>
        <td align="center">{{user.lastName}}</td>
        <td align="center">{{user.email}}</td>
        <td align="center">{{user.password}}</td>
    </tr>


</table>