<!--  
<p>UserID: {{user.id}}</p>
<p>ProfileID: {{user.userProfile.id}}</p>
<tr *ngFor="let r of user.roles">
    <td align="center"> Role : {{r?.name}}</td>
</tr>
<p>First name: {{user.firstName}}</p>

<p>Address: {{user.userProfile.address1}}</p>
<p>City: {{user.userProfile.city}}</p>
<p>State: {{user.userProfile.state}}</p>
<p>Country: {{user.userProfile.country}}</p>

<tr *ngFor="let d of donations ">
    <td>
        {{d.id}} 
    </td>
    <td><br/> {{d.amount }}</td>
    <td><br/> {{d.date}}</td>
    <td> <br/>{{d.donationType?.name}} </td>
    
    <td><br/> {{d.user?.id}}</td> 
</tr>
<form #MakeDonationForm="ngForm" (ngSubmit)="update( userProfile)" novalidate>

    
    <div class="form-group">
        <label>{{user.}}</label>
        <input type="text" #address1="ngModel"   class="form-control" name="address1"  [(ngModel)]="userProfile.address1">
         
    </div>  
    <button mat-flat-button color="accent" [disabled]="MakeDonationForm.form.invalid" type="submit">Update form</button>
</form> 
 -->
 <p> donationlist</p>