 
    <h2 align = "center">
        Type your money on Funding 
    </h2>
    <table align="center" > 
        <tbody>
                <tr *ngFor = "let donationForm of DonationsForm; let i = index"  >
                
                    <td>
                        
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">{{donationForm.donationType?.name}}</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)] = "donationForm.amount">
                        </div>
                    </td>
                </tr>
        </tbody>
    </table> 
    <div align = "center"> 
        <button class  = "btn btn-primary" (click) = "onSubmit()" >
            Submit
        </button>  
    </div>
   