
<table> 
<tbody>
        <tr   >
            <td>
                Food For Student  <input  type="text"   placeholder="Total Student" [(ngModel)] = "project1"/>
            </td>
            <td>
                Covid 19  <input  type="text  " placeholder="Total Student" [(ngModel)] = "project2"/>
            </td>
            <td>
                Run for Money  <input  type="text"  placeholder="Total Student"[(ngModel)] = "project3" />
            </td>
           
        </tr>
</tbody>
</table> 
<button (click) = "onSubmit()">
    Submit
</button>