<div class ="container" style="background-color: #c5c5ee; height:50px; padding: 1rem;">
    <h3 class = "d-flex justify-content-center">NGO Donation</h3>
    <div><nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="/home" routerLinkActive="active" class="nav-link active">Home</a>
            <a routerLink="/users" routerLinkActive="active" class="nav-link active">UserView</a>
            <a routerLink="/donations" routerLinkActive="active" class="nav-link active">Donations</a>
            <a routerLink="/profiles" routerLinkActive="active" class="nav-link active">UserProfiles</a>
            <a routerLink="/login" routeLinkActive="active" class="nav-link active">Login</a>

        </div>
      
    </div>
  </nav>
<router-outlet></router-outlet>

 </div>