
<br>
<br>
<h4 align="center">Profile Management</h4>
<br>
<table border="4" class ="table-borderd" align="center" cellspacing="3" cellpadding="4">

    <tr>
        <th align="center"> ID </th>
        <th align="center">Address1</th>
        <th align="center">Address2</th>
        <th align="center">Phone</th>
        <th align="center">City</th>
        <th align="center">State</th>
        <th align="center">Zipcode</th>
        <th align="center">Country</th>
        <th align="center">*Urbaniztion</th>
        
        <th align="center">Options</th>
    </tr>

   
        <tr *ngFor="let p of profiles ">
            <td align="center">{{p.id}}</td>
            <td align="center"> {{p.address1 }}</td>
            <td align="center"> {{p.address2}}</td>
            <td align="center"> {{p.phone}}</td>
            <td align="center"> {{p.city}}</td>
            <td align="center"> {{p.state}} </td>
            <td align="center"> {{p.zipcode}} </td>
            <td align="center"> {{p.country}}</td>
            <td align="center"> {{p.urbanization}}</td>
            <td align="center"><button type= "button" class="btn btn-edit" (click)="onUpdateButton(p)"> Edit</button>
            </td>
        </tr>
   

</table>

<router-outlet>

</router-outlet>