

<br>
<br>
<h4>Add New User</h4><br>
<div class="container" >
    
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div>
    
    <div>
        <label for="firstName">FirstName</label>   <br/>
        <input type="text" id="firstName" name="firstName" [ngModel]="firstName">
    </div>
            
        
    <div>
        <label for="lastName">lastName</label>  <br/> 
        <input type="text" id="lastName" name="lastName" [ngModel]="lastName">
    </div>
    <div>
        <label for="password">Password</label>  <br/> 
        <input type="password" id="password" name="password" class="form-control" data-toggle="password" [ngModel]="password">
        <input type="password" id="password" name="password" data-toggle="password" [ngModel]="password">
    </div>

    <div>
        <label for="email">Email</label>  <br/> 
        <input type="text" id="email" name="email" [ngModel]="email">
    </div>
<br>
 


    <label for="role">Role</label>  
    <!-- <select [(ngModel)] = "{{user.roles}}"> -->
    <select [(ngModel)]="roleId" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let r of role" value="{{r.name}}">{{r.name}}</option>
    
</select> 
</div>     
<br>
<br>
    <div>       
    <button type="submit" [disabled]="!f.valid">Submit</button>
    </div> 
</form>  
</div>
<router-outlet></router-outlet>