
<br>
<br><h4 align="center">User Management</h4>
 
<table  class="table table-danger table-striped table-bordered">
   <thead>
    <tr>
        <td align="center">Id</td>
        <td align="center">FirstName</td>
        <td align="center">LastName</td>
        <td align="center">Email </td>
        <td align="center">Role </td>
        <td align="center">ProfileID </td>
        <td align="center">Options</td>
 
        
    </tr>
</thead>
<tbody>
    <tr *ngFor="let user of users">
 
        <td align="center">
            <a  class="btn btn-primary" (click)="onSelectUserDetail(user)"> {{user.id}}  
            </a> 
        </td>
        <td  align="center">{{user.firstName}}</td>
        <td  align="center">{{user.lastName}}</td>
 
        <td  align="center">{{user.email}}</td>
        
        <td align="center">
            <tr *ngFor="let r of user.roles">
                <td>{{r?.name}}</td>
            </tr>
        </td>
        <td align="center">{{user.userProfile?.id}}</td>
    

        <!--<td  align="center">{{role.name}}</td> -->
        <td align="center" appCustomdir><button type= "button" class="btn btn-edit"  (click) = updateUser(user.id) >Edit</button></td>
        <td align="center"><button type= "button" class="btn btn-delete"  (click)="deleteUser(user.id)">Delete</button></td>
       
    </tr>

</tbody>
</table>
    <br>
    <br>
    <div class="text-right">
        <button type="button" class="btn btn-primary" routerLink="/users/adduser">Add User</button>
    </div>
  
<router-outlet></router-outlet>