
<br>
<br><h4 align="center">User Management</h4>
<br>

<table border="4" class ="table-borderd" align="center" cellspacing="3" cellpadding="4">
    <tr >
        <th align="center">Id</th>
        <th align="center">FirstName</th>
        <th align="center">LastName</th>
        <th align="center">Email </th>
        <th align="center">Role </th>
        <th align="center">ProfileID </th>
        <th align="center">Options</th>
        
    </tr>

    <tr *ngFor="let user of users">

        <td  align="center">{{user.id}}</td>
        <td  align="center">{{user.firstName | name }}</td>
        <td  align="center">{{user.lastName | name }}</td>
        <td  align="center">{{user.email}}</td>
        
        <td align="center">
            <tr *ngFor="let r of user.roles">
                <td align="center">{{r?.name}}</td>
            </tr>
        </td>
        <td align="center">{{user.userProfile?.id}}</td>
    

        <!--<td  align="center">{{role.name}}</td> -->
        <td align="center" appCustomdir><button type= "button" class="btn btn-edit"  (click) = updateUser(user.id) >Edit</button></td>
        <td align="center"><button type= "button" class="btn btn-delete"  (click)="deleteUser(user.id)">Delete</button></td>
       
    </tr>


</table>
    <br>
    <br>
    <div class="text-right">
        <button type="button" class="btn btn-primary" routerLink="/users/adduser">Add User</button>
    </div>
  
<router-outlet></router-outlet>