
<br>
<br>
<h4 align="center">Donation Management</h4>
<br>
<table border="4" class ="table-borderd" align="center" cellspacing="3" cellpadding="4">
    <tr>
        <th align="center"> ID </th>
        <th align="center">UserID</th>
        <th align="center"> Date</th>
        <th align="center">Amount</th>
        <th align="center">DonationType</th>
          
    </tr>
        <tr *ngFor="let d of donations">
            <td align="center">{{d.id}} </td>
            <td align="center"> {{d.user?.id}}</td> 
            <td align="center"> {{d.date}}</td>
            <td align="center"> {{d.amount }}</td>
            <td align="center"> {{d.donationType?.name}} </td>
            
            
        </tr>
    

</table>
<router-outlet>

</router-outlet>