 
 
<table border="1" align="center" class="table table-danger table-striped table-bordered">
    <thead>
        <tr>
            <th> ID </th>
            <th> Date</th>
            <th>Amount</th>
            <th>DonationType</th>
            <th>UserID</th>  
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let d of donations">
            <td align="center">{{d.id}} </td>
            <td align="center"> {{d.user?.id}}</td> 
            <td align="center"> {{d.date}}</td>
            <td align="center"> {{d.amount }}</td>
            <td align="center"> {{d.donationType?.name}} </td> 
            
        </tr> 

</table>
<router-outlet> </router-outlet>